{% extends 'base.html.twig' %}

    
{% block title %}Daily Plan{% endblock %}
 
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{asset('styles/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('styles/css/main.css')}}" rel="stylesheet">
    <link href="{{asset('styles/index.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %} 

{% block body %}
  <body>
  <div class="container">
    <div class="row">
      <h1>Daily Plan</h1>
      <p><a href = "{{ path('logout') }}">Выйти</a></p>
    </div> 
      <div class="row">
        <div class="col-md-3">
          <ul>
          	   
          	
          	{{ dp_menu() }}      
          	
          	{{ render(controller('AppBundle:Menu:getMenu')) }}	
          <!--   <li>Тек. задачи</li>
            <li>Планы</li>
            <li>Заметки</li>
            <li>Напоминания</li>
            <li>Отчеты</li>
             -->
          </ul>
        </div>
      
        <div class="col-md-6">
        <h2>{{ contentHeader }} <span>{{ tasks|length }}</span> </h2>
        <p><a href="{{path('homepage', {'type' : 'actual'})}}" class="atab">Актуальные</a>
           <a href="{{path('homepage', {'type' : 'exec'})}}" class="atab">Выполненные</a>
           <a href="{{path('homepage', {'type' : 'all'})}}" class="atab">Все</a></p>
        <div id="tasks">
        	{% for task in tasks %} 
        		<div class="taskdiv">   
        			{% if task.getExecuted() %}
        				<div class="accordion exec_task">
        			{% else %}    	
	        			<div class="accordion">
	        		{% endif %}	
	        			<h3>{{task.getName()}}</h3>
	        			<p>Группа: {{ task.getCategory() }}</p>
	        			<span>К выполнению: {{task.getExecuteData().format('d.m.Y')}}</span>
	        			<a href="{{path('update', {'id':task.getId()})}}">Выполнено</a>
	        			<a href="{{path('edit-task', {'id':task.getId()})}}">Изменить</a>
	        			<a href="{{path('del-task', {'id':task.getId()})}}">Удалить</a>
	        		</div>
	        		<div class="panel"><p>{{task.getDescription()}}</p></div>    
        		</div>    	
        	{% endfor %}	
        </div>
        </div>
        <div class="col-md-3">
        	{{ render(controller('AppBundle:Notice:addNotice')) }}
        	{{ render(controller('AppBundle:Notice:showNotices')) }}
        </div>
      </div>
      <div class="row">
        <h3>Footer</h3>
      </div> 
    </div>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{asset('styles/js/bootstrap.min.js')}}"></script>
  </body>
 {% endblock %}  